---
import axios from "axios";
import Affiliate from "./Affiliate.astro";

//data from database
const prod_link = `https://mkeka-wa-leo-production-3114.up.railway.app/astro/ht-15`;
const local_link = `http://localhost:3000/astro/ht-15`;
let response = await axios.get(prod_link);
let mikeka = response.data?.mikeka;

//check data length
const janaLengthIsGreater = mikeka?.ytips && mikeka.ytips.length > 0;
const leoLengthIsGreater = mikeka?.ftips && mikeka.ftips.length > 0;
const keshoLengthIsGreater = mikeka?.ktips && mikeka.ktips.length > 0;

const FormatTip = (tip: string) => {
    switch (tip) {
        case "Home Win":
            return "1";

        case "Away Win":
            return "2";

        case "Draw":
            return "X";

        default:
            return tip;
    }
};

const formatLeague = (data) => {
    if (data?.length > 28) {
        return data.substring(0, 29) + "...";
    } else {
        return data;
    }
};
---

<div class="overflow-x-auto mt-5">
    <h2 class="text-2xl font-bold mb-6">
        Over/Under 1.5 First Half - Utabiri wa Leo
    </h2>
    <div class="flex justify-between mb-4">
        <button class="btn w-2/6 text-[14px]" id="ht15-btn-jana">Jana</button>
        <button
            class="btn w-2/6 text-[14px] border border-secondary"
            id="ht15-btn-leo">Leo</button
        >
        <button class="btn w-2/6 text-[14px]" id="ht15-btn-kesho">Kesho</button>
    </div>
    <hr><br>

    <div class="hidden" id="ht15-table-jana">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">HT Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.ytips.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match?.date?.split("/20")[0] ??
                                        match?.siku?.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>{" "}
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {formatLeague(match.league)}
                                </span>{" "}
                                <br />
                                {match.match.split(" - ")[0]} <br />
                                {match.match.split(" - ")[1]}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match?.tip ?? match?.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={janaLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>Kwa siku ya jana hatukuwa na mkeka</p>
        </div>
    </div>

    <div id="ht15-table-leo">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.ftips.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match?.date?.split("/20")[0] ??
                                        match?.siku?.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>{" "}
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {formatLeague(match.league)}
                                </span>{" "}
                                <br />
                                {match.match.split(" - ")[0]} <br />{" "}
                                {match.match.split(" - ")[1]}{" "}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match?.tip ?? match?.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={leoLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>
                Mikeka ya leo bado ipo kwenye maandalizi. Rudi baada ya mda
                kidogo itakuwa tayari au shuka chini kuona mikeka mingine
            </p>
        </div>
    </div>

    <div class="hidden" id="ht15-table-kesho">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.ktips.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match?.date?.split("/20")[0] ??
                                        match?.siku?.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>{" "}
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {formatLeague(match.league)}
                                </span>{" "}
                                <br />
                                {match.match.split(" - ")[0]} <br />{" "}
                                {match.match.split(" - ")[1]}{" "}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match?.tip ?? match?.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={keshoLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>
                Mikeka ya kesho bado ipo kwenye maandalizi. Rudi baada ya mda
                kidogo itakuwa tayari au shuka chini kuona mikeka mingine
            </p>
        </div>
    </div>
</div>
<hr />
<Affiliate />
<hr />

<div class="final-text p-2 mt-8">
    <h2 class="text-xl font-bold mb-2">Over 1.5 HT ni Nini?</h2>
    <p>
        Over 1.5 Halftime (HT), hapa tunatabiri idadi ya jumla ya mabao
        yatakayofungwa kipindi cha kwanza. Kwa chaguo la Over 1.5 tunabashiri
        kwamba idadi ya mabao yote kipindi cha kwanza yatakuwa mawili au zaidi.
        Mfano wa matokeo ya ushindi ni <b>1:1, 2:0, 2:1, n.k</b>
    </p>
    <br />
    <br />
    <h2 class="text-xl font-bold mb-2">Under 1.5 HT ni Nini?</h2>
    <p>
        Under 1.5 Halftime (HT), hapa tunatabiri idadi ya jumla ya mabao
        yatakayofungwa kipindi cha kwanza. Kwa chaguo la Under 1.5 tunabashiri
        kwamba idadi ya mabao yote kipindi cha kwanza yasizidi bao moja. Mfano
        wa matokeo ya ushindi ni <b>0:0</b> au <b>1:0</b>
    </p>
</div>


<style>
    .hidestyle {
        font-size: 13px;
        font-weight: bold;
        padding: 4px;
        color: brown;
        margin-top: 16px;
    }
</style>

<script is:inline>
    // Add click handlers
    ["jana", "leo", "kesho"].forEach((day) => {
        document
            .getElementById(`ht15-btn-${day}`)
            .addEventListener("click", () => {
                // Hide all tables
                ["jana", "leo", "kesho"].forEach((d) => {
                    document
                        .getElementById(`ht15-table-${d}`)
                        .classList.add("hidden");
                    document
                        .getElementById(`ht15-btn-${d}`)
                        .classList.remove("border", "border-secondary");
                });

                // Show selected table and highlight button
                document
                    .getElementById(`ht15-table-${day}`)
                    .classList.remove("hidden");
                document
                    .getElementById(`ht15-btn-${day}`)
                    .classList.add("border", "border-secondary");
            });
    });
</script>
