---
import axios from "axios";

//data from database
let response = await axios.get(
    "https://logical-mite-inherently.ngrok-free.app/astro/home",
);
let mega = response.data.mikeka;

const FormatTip = (tip :string) => {
    switch(tip) {
        case 'Home Win':
            return '1';

        case 'Away Win':
            return '2';

        case 'Draw':
            return 'X';

        default:
            return tip;
    }
}
---

<div class="overflow-x-auto mt-5">
    <h2 class="text-2xl font-bold mb-4">Mega Odds za Leo</h2>
    <div class="flex justify-between">
        <a href="/mkeka/mega-odds-jana" class="btn w-2/6">Jana</a>
        <a href="#" class="btn w-2/6 bg-secondary text-base-200 hover:bg-secondary" id="leo">Leo</a>
        <a href="/mkeka/mega-odds-kesho" class="btn w-2/6">Kesho</a>
      </div>
    <table class="table table-zebra table-pin-cols text-xs">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th>Matches</th>
                <th class="text-center">Tip</th>
                <th class="text-center">Odds</th>
            </tr>
        </thead>
        <tbody>
            {
                mega.map((match, index) => (
                    <tr>
                        <td
                            class="text-center"
                            style="font-size: 10px !important;"
                        >
                            <span class="time">{match.time}</span> <br />
                            <span class="date">{match.date.split('/20')[0]}</span>
                        </td>
                        <td class="hidden align-middle lg:table-cell">
                            {match.match}
                        </td>
                        <td class="table-cell lg:hidden">
                            {match.match.split(" - ")[0]} <br />{" "}
                            {match.match.split(" - ")[1]}{" "}
                        </td>
                        <td class="text-center">
                            <span class="inline-block border border-secondary p-2 w-11/12 rounded font-bold">
                                {FormatTip(match.bet)}
                            </span>
                        </td>
                        <td class="text-center">{match.odds}</td>
                    </tr>
                ))
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" class="text-lg">Betway</th>
                <th colspan="1" class="text-center text-sm"
                    >{response.data.megaOdds}</th
                >
            </tr>
        </tfoot>
    </table>
</div>

<div class="w-100 mt-4 mx-auto flex lg:justify-around justify-between">
    <a
        class="btn btn-outline w-2/5"
        href="https://twitter.com/manuelernestog"
        target="_blank"
    >
        150% Bonus
    </a>
    <a
        href="https://github.com/manuelernestog/astrofy"
        target="_blank"
        class="btn btn-outline w-2/5"
    >
        JISAJILI SASA!
    </a>
</div>

<style>
    #leo {
    }
</style>
