---
import axios from "axios";
import Affiliate from "./Affiliate.astro";

//data from database
const prod_link = `https://mkeka-wa-leo-production-3114.up.railway.app/astro/over15`;
const local_link = `http://localhost:3000/astro/over15`;
let response = await axios.get(prod_link);
let mikeka = response.data?.mikeka;

//check data length
const janaLengthIsGreater = mikeka?.over15Jana && mikeka.over15Jana.length > 0;
const leoLengthIsGreater = mikeka?.over15Leo && mikeka.over15Leo.length > 0;
const keshoLengthIsGreater =
    mikeka?.over15Kesho && mikeka.over15Kesho.length > 0;

const FormatTip = (tip: string) => {
    switch (tip) {
        case "Home Win":
            return "1";

        case "Away Win":
            return "2";

        case "Draw":
            return "X";

        default:
            return tip;
    }
};
---

<div class="overflow-x-auto mt-5">
    <h2 class="text-2xl font-bold mb-6">Utabiri wa Leo - Over 1.5</h2>
    <div class="flex justify-between mb-4">
        <button class="btn w-2/6 text-[14px]" id="ov15-btn-jana">Jana</button>
        <button
            class="btn w-2/6 text-[14px] border border-secondary"
            id="ov15-btn-leo">Leo</button
        >
        <button class="btn w-2/6 text-[14px]" id="ov15-btn-kesho">Kesho</button>
    </div>
    <hr><br>

    <div id="ov15-table-jana" class="hidden">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.over15Jana.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match.date.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match.split(" - ")[0]} <br />
                                {match.match.split(" - ")[1]}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={janaLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>Kwa siku ya jana hatukuwa na mkeka</p>
        </div>
    </div>

    <div id="ov15-table-leo">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.over15Leo.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match.date.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match.split(" - ")[0]} <br />
                                {match.match.split(" - ")[1]}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-sm text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={leoLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>
                Mikeka ya leo bado ipo kwenye maandalizi. Rudi baada ya mda
                kidogo itakuwa tayari au shuka chini kuona mikeka mingine
            </p>
        </div>
    </div>

    <div id="ov15-table-kesho" class="hidden">
        <table class="table table-zebra table-pin-cols text-base">
            <thead class="text-[14px]">
                <tr>
                    <th class="text-center">Date</th>
                    <th>Matches</th>
                    <th class="text-center">Tip</th>
                </tr>
            </thead>
            <tbody>
                {
                    mikeka.over15Kesho.map((match, index) => (
                        <tr>
                            <td class="text-center text-xs text-slate-500">
                                <span class="time">{match.time}</span> <br />
                                <span class="date">
                                    {match.date.split("/20")[0]}
                                </span>
                            </td>
                            <td class="hidden align-middle lg:table-cell">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match}
                            </td>
                            <td class="table-cell lg:hidden">
                                <span class="text-xs text-slate-500">
                                    {match.league}
                                </span>
                                <br />
                                {match.match.split(" - ")[0]} <br />
                                {match.match.split(" - ")[1]}
                            </td>
                            <td class="text-center">
                                <span class="inline-block bg-secondary text-base-200 p-2 w-11/12 rounded font-bold">
                                    {FormatTip(match.bet)}
                                </span>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
        <div class={keshoLengthIsGreater ? "hidden" : "hidestyle"}>
            <p>
                Mikeka ya kesho bado ipo kwenye maandalizi. Rudi baada ya mda
                kidogo itakuwa tayari au shuka chini kuona mikeka mingine
            </p>
        </div>
    </div>
</div>

<hr />
<Affiliate />
<hr />

<div class="final-text p-2 mt-8">
    <h2 class="text-xl font-bold mb-2">Over 1.5 Goals ni Nini?</h2>
    <p>
        Over 1.5 ni utabiri wa jumla ya idadi ya magoli kwa pande zote mbili
        mwisho wa mechi, tunatabiri yatakuwa jumla ya magoli mawili au zaidi.
        Mfano wa matokeo ya ushindi kwa chaguo hili ni <b
            >1:1, 2:0, 0:2, 2:1, 1:2, 2:2 n.k</b
        >
    </p>
    <br />
    <p>
        Shinda nasi na mikeka hii ya uhakika ya Over 1.5 kila siku. Tuna zaidi
        ya asilimia 93 za ushindi katika mikeka hii ya kila siku ya Over 1.5
        Fulltime
    </p>
</div>

<style>
    .hidestyle {
        font-size: 13px;
        font-weight: bold;
        padding: 4px;
        color: brown;
        margin-top: 16px;
    }
</style>

<script is:inline>
    // Add click handlers
    ["jana", "leo", "kesho"].forEach((day) => {
        document
            .getElementById(`ov15-btn-${day}`)
            .addEventListener("click", () => {
                // Hide all tables
                ["jana", "leo", "kesho"].forEach((d) => {
                    document
                        .getElementById(`ov15-table-${d}`)
                        .classList.add("hidden");
                    document
                        .getElementById(`ov15-btn-${d}`)
                        .classList.remove("border", "border-secondary");
                });

                // Show selected table and highlight button
                document
                    .getElementById(`ov15-table-${day}`)
                    .classList.remove("hidden");
                document
                    .getElementById(`ov15-btn-${day}`)
                    .classList.add("border", "border-secondary");
            });
    });
</script>
